# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
JDBC_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}

# Unleash
UNLEASH_URL=https://gitlab.switch.ch/api/v4/feature_flags/unleash/10449
UNLEASH_INSTANCE_ID=<your_instance_id>
UNLEASH_APP_NAME=g01-form-backend
UNLEASH_ENVIRONMENT=dev
UNLEASH_FETCH_INTERVAL=1 #in seconds